body {   
    animation-name: bg;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.login{
    padding-top: 5vh;
}

.login > div{  
  margin: auto;
  color: black;
  padding: 75px 25px 75px 25px;
  border-radius: 15px; 
}

.login > div h4{
    font-size: 2.5em;
    margin-bottom: 100px;
}

label{
    font-size: 2em;
}

@keyframes bg{
    0%, 100%{ background: #C70039; }
    20%{ background: #900C3E; }
    40%{ background: #571845; }
    60%{ background: #FFC300; }
    80%{ background: #C90438; }    
}