.body{    
    background: black;   
}

.login{
    padding-top: 5vh;
}

.login > div{  
  margin: auto;
  color: white;
  border: 3px solid white;
  padding: 75px 25px 75px 25px;
  background: rgba(0,0,0,.5);
  border-radius: 15px;
  
}