body{    
    background: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1, label {
    color:white;
}

.content-form{
    margin-top: 20vh;
    font-size: 1.5em;
}

.login{
    background: #80808094;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 6em;
}